.pd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 350px;
}
.pd-container:hover .pd-additional-icon {
  opacity: 1;
  transition: all 0.5s ease;
}
.pd-img-icon-div img {
  width: 250px;
  height: 180px;
  object-fit: contain;
}
.pd-img-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pd-additional-icon {
  opacity: 0;
  display: flex;
  transition: all 0.5s ease;
  cursor: pointer;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1);
}
.pd-name {
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.pd-name:hover {
  color: var(--secondary);
}
.pd-price {
  font-size: 20px;
  font-weight: 700;
}
/* .simple-btn{
    background-color: black;
    border: 2px solid black;
    color: White;
    font-weight: 500;
    
}
.MuiCard-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
