.top-banner{
    background-color: #ffefef;

}
.brand-name{
    color: #DA0037;
    font-size: 40px;
    font-weight: bolder;
}
.shopNow-btn{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.shopNow-btn i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.shopNow-btn div {
    transition: transform 0.8s;
  }

  .shopNow-btn:hover div {
    transform: translateX(-6px);
  }
  

  .shopNow-btn::after {
    content: "";
    background-color: black;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }

  .shopNow-btn:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }