@media only screen and (min-width: 700px) {
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .navbar a {
    text-decoration: none;
    color: var(--primary);
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    color: var(--primary);
  }
  .userinfo span {
    margin-right: 30px;
  }
  .nav a {
    text-decoration: none;
    color: var(--light);
    margin-right: 120px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.25em;
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo a {
    font-size: 30px;
    font-weight: 600;
  }
  .fa-glasses {
    font-size: 30px;
  }
  .bottom-bar {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .responsive-bar {
    display: none;
  }
  .navbar-toggle-icon {
    background-color: black;
  }
}
@media only screen and (max-width: 688px) {
  .navbar {
    display: none;
  }
  .responsive-bar {
    display: contents;
    display: flex;
  }
  .logo a {
    text-decoration: none;
    color: var(--primary);
    font-size: 20px;
  }
  .userinfo span {
    margin-right: 10px;
  }
  .userinfo a {
    color: var(--primary);
  }
  .nav a {
    text-decoration: none;
    color: var(--primary);
  }
}
.shoppingcart {
  position: relative;
}
.shoppingcart-icon {
  position: absolute;
  color: #fff;
  position: absolute;
  top: -1px;
  left: 27px;
  min-width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  border-radius: 50px;
  z-index: 9;
  background: var(--primary);
}
