@import '../../../../Styles/Partials/classes';
@import '../../../../Styles/Partials/mixin';
@import '../../../../Styles/Partials/variables';

.search-filters {
  padding: 10px 0;
  border-bottom: 1px solid $color-white;
  border-width: 100%;
  .widget-title {
    font-size: 18px;
    color: $color-dark;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px dashed $color-white;
  }
}
