@import '../../../Styles/Partials/classes';
@import '../../../Styles/Partials/mixin';
@import '../../../Styles/Partials/variables';

.page-header {
  background-color: $color-white;
  height: 110px;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
