@import '../../../Styles/Partials/variables';

.cart-items {
  margin-top: 130px;

  .coupon-code-input {
    position: relative;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 30px;
    padding: 15.5px 20px;
    font-size: 17px;
    line-height: 24px;
    font-weight: inherit;
    color: $color-dark;
    background-color: transparent;
    border: 1px solid #949494;
    border-radius: 0;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
  }
  span {
    font-size: 19px;
  }
  .note-label {
    display: block;
    margin-bottom: 20px;
    span {
      background: #e95144;
      color: $color-white;
      font-size: 10px;
      font-weight: 700;
      padding: 2px 5px;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}
