.coupon-code {
  display: flex;
  justify-content: space-between;
}
.cart-items{
  margin-top: 130px;
}
.coupon-code-input {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-right: 30px;
  padding: 15.5px 20px;
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: inherit;
  color: #000;
  background-color: transparent;
  border: 1px solid #949494;
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.3s ease;
}

.regular-btn{
  outline: 1px solid black;
  outline-offset: 2px;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0.35em;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out;
  font-family: Jost, sans-serif;
  padding: 14px 30px;
  cursor: pointer;
  z-index: 3;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out,
    opacity 0.44s cubic-bezier(0.34, 0.24, 0.09, 0.73),
    transform 0.44s cubic-bezier(0.34, 0.24, 0.09, 0.73);
  color: #fff;
  background-color: var(--primary);
  border: 1px solid transparent;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-items button:hover{
  background-color: var(--secondary);
}
.cart {
  display: flex;
  justify-content: space-between;
}
.cart span {
    font-size: 19px;
}
.cart-note-label{
    display: block;
    margin-bottom: 20px;
}
.cart-note-label span{
    background: #e95144;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 5px;
    margin-right: 10px;
    text-transform: uppercase;
}