  @import './variables';
  @import './mixin';

%plus-minus-btn{
  outline: 0;
  border: none;
  background: none;
  width: 40px;
  max-height: 30px;
  border-right: 1px solid $color-dark;
  border-bottom: 1px solid $color-dark;
}