@import '../../../Styles/Partials/classes';
@import '../../../Styles/Partials/mixin';
@import '../../../Styles/Partials/variables';

.item-banner-container {
  img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    object-position: left;
    position: relative;
  }
  display: flex;
  justify-content: center;
  animation: itembanner 1.2s linear infinite alternate-reverse;
  .item-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes itembanner {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}

@media only screen and (max-width: 600px) {
  .male-item-banner {
    margin-top: 0px;
  }
}
