:root {
  --primary: #000;
  --secondary: #babd42;
  --light: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arsenal', sans-serif;
}
body {
  overflow-x: hidden;
}
