@import '../../../Styles/Partials/classes';
@import '../../../Styles/Partials/mixin';
@import '../../../Styles/Partials/variables';

.footer-container {
  a {
    text-decoration: none;
    color: white;
  }
  .fa-brands {
    color: white;
    font-size: 25px;
    margin-right: 30px;
  }
  .list-unstyled {
    li {
      margin: 15px 0px;
      cursor: pointer;
    }
    padding-left: 0;
    list-style: none;
    font-size: 17px;
  }
  .contact-section {
    p {
      font-size: 17px;
    }
    .far {
      margin-right: 10px;
    }
    .fas {
      margin-right: 10px;
    }
  }
}
