.scroll-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-btn {
  width: 55px;
  height: 55px;
  color: var(--light);
  background-color: var(--primary);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top-btn-icon {
  animation: gototop 1.2s linear infinite alternate-reverse;
}
@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
@media only screen and (max-width: 600px) {
  .top-btn {
    right: 0;
    left: 40%;
  }
}
